.form-calculation2
    &_input
        display: flex
        justify-content: space-between
    &_chose-file
        border: 1px solid #000
        border-style: dashed
        border-radius: 10px
        width: 560px 
        height: 219px
        text-align: center
    &_chose-file p 
        font-weight: 400
        font-size: 20px
