.questions-answers
    text-align: center
    &_wallpaper
        width: 1286px
        height: 969px
        background-color: #fff 
    &_wallpaper h2
        font-weight: 400
        font-size: 48px 
    &_section
        
    &_section span
        height: 1px
        width: 1160px
        background-color: #E6E6E6
        display: block
    &_description 
        display: flex

