.slider
    height: 500px
    display: block
    &_title h2 
        font-weight: 400
        font-size: 48px
    &_section
        display: flex
        position: relative
        height: 100%
        display: flex
        justify-content: center 
        overflow: hidden
        padding: 70px 0px 115px 0px 
        flex 
    &_image
        display: flex
        justify-content: center
        // transform: translateX(-200px)    
    &_image img
        padding-left: 20px
        border-radius: 20px
button.slider_button1
    position: absolute
    left: 0px
    top: 50%
    cursor: pointer
    background-color: #ffffff00    
    z-index: 1
button.slider_button2
    position: absolute
    right: 0px
    top: 50% 
    cursor: pointer
    background-color: #ffffff00 
    z-index: 1

