@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

body {
  background-image: url("./img/background.png");
  font-family: "Montserrat", "Sans-serif";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  display: flex;
  margin: 0px 77px 0px 77px;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 0;
  margin: 0;
}

button {
  border: 0px;
}

.header_top {
  margin-top: 14px;
  margin-bottom: 14px;
}
.header_phone {
  display: flex;
  align-items: center;
  margin-left: 7%;
}
.header_phone-tel {
  font-family: "Open-sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 25.5px;
  align-items: center;
  margin-left: 43px;
}
.header_contact-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_contact-bottom {
  margin-top: 8px;
  font-weight: 300;
  font-size: 14px;
}
.header_contact {
  align-items: right;
}
.header_contact-email {
  margin-left: 10px;
  font-weight: 400;
  font-size: 17;
  color: #545454;
}
.header_contact-logo {
  display: flex;
  align-items: center;
}

.menu_link {
  color: #929292;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.border-top {
  border-top: 1px solid #DCDCDC;
}

button.request-call {
  padding: 15px 25px;
  border: 1px solid #CDCDCD;
  background: transparent;
  cursor: pointer;
  color: #582D7F;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

button.request-call:hover {
  color: #CDCDCD;
  background-color: #582D7F;
}

ul.menu li:hover {
  -webkit-text-decoration: underline #CDCDCD;
          text-decoration: underline #CDCDCD;
}

.wallpaper {
  background: url(./img/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}

.universal {
  background-color: #323dd2;
  background-image: linear-gradient(45deg, #7b179c, #7d74f3);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.section {
  display: flex;
  justify-content: space-between;
}
.section_top {
  padding-top: 131px;
  padding-bottom: 40px;
}
.section_top-left {
  height: 390px;
  width: 632px;
}
.section_top-left-top {
  font-weight: 600;
  font-size: 54px;
  color: #fff;
  line-height: 66px;
}
.section_top-right {
  height: 390px;
  width: 632px;
  background-color: rgba(255, 255, 255, 0.7764705882);
  border-radius: 5px;
}
.section_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: -90px;
}
.section_card {
  width: 305px;
  height: 180px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
}
.section_menu2 {
  font-size: 20px;
  font-weight: 600;
}
.section_menu3 {
  font-size: 17px;
  font-weight: 600;
}

p.border {
  background-color: #fff;
  height: 2px;
  width: 100px;
  border-radius: 10px;
}

h3.description {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

p.paragraph {
  font-weight: 400;
  margin: 0;
  color: #fff;
  font-size: 20px;
}

h1.section_top-left-top {
  margin: 0;
}

.card1 {
  background-color: #B8DDDE;
}

.card2 {
  background-color: #F9EAB5;
}

.card3 {
  background-color: #D7EFC7;
}

.card4 {
  background-color: #D1D7FA;
}

.modal {
  position: absolute;
  right: 77px;
  width: 632px;
  transition: all 0.3s ease 0s;
}
.modal_number {
  border: 1px solid #929292;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: #fff;
  text-align: center;
  display: flex;
  margin-top: -17px;
  color: #929292;
  transition: all 0.3s ease 0s;
}
.modal_number span {
  margin: auto;
  font-size: 18px;
  font-weight: 500;
}
.modal_operations {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 20px 35px;
}
.modal_title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  padding: 20px 0;
  color: #494949;
}
.modal_steps-description {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  color: #929292;
}
.modal_line {
  display: flex;
}

.extendet {
  height: 450px;
}

.contracted {
  height: 390px;
}

p.modal_line1 {
  height: 2px;
  width: 266px;
  background-color: #929292;
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 55px;
  transition: all 0.3s ease 0s;
}

p.modal_line2 {
  height: 2px;
  width: 266px;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 0.3s ease 0s;
}

p.line-active {
  background-color: #582D7F;
}

p.line-disable {
  background-color: #929292;
}

.form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 30px 35px;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.form_translate {
  width: 260px;
  height: 55px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/img/Select-rectangle.svg") no-repeat right;
  background-color: #fff;
  background-position: 90% 50%;
}
.form_button {
  text-align: center;
  padding-top: 10px;
}

.form-section1 {
  width: 632px;
  height: 120px;
}

.form-section2 {
  width: 632px;
  height: 120px;
}
.form-section2_back {
  width: 260px;
  height: 55px;
  background-color: #fff;
  border: 2px solid #582D7F;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #582D7F;
  cursor: pointer;
}
.form-section2_next {
  width: 260px;
  height: 55px;
  background-color: #582D7F;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.form-section2_input {
  display: flex;
  justify-content: space-around;
  padding-top: 42px;
  padding-bottom: 24px;
}
.form-section2_input-bottom {
  width: 405px;
  height: 55px;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
}
.form-section2_input-text {
  width: 106px;
  height: 34px;
  display: none;
  visibility: none;
}
.form-section2_buttons {
  display: flex;
  justify-content: space-around;
}
.form-section2_label1 {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.form-section2_img {
  width: 22px;
  height: 30px;
}
.form-section2_label {
  display: flex;
  align-items: center;
  width: 100px;
}

span.form-section2_label-span {
  font-weight: 400;
  font-size: 14px;
  padding-left: 15px;
  display: block;
}

.form-section3 {
  width: 632px;
  height: 120px;
}
.form-section3_back {
  width: 260px;
  height: 55px;
  background-color: #fff;
  border: 2px solid #582D7F;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #582D7F;
  cursor: pointer;
}
.form-section3_next {
  width: 260px;
  height: 55px;
  background-color: #582D7F;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.form-section3_input1 {
  width: 576px;
  height: 55px;
  border: 1px solid #C4C4C4;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
  box-sizing: border-box;
  padding-left: 20px;
}
.form-section3_input2 {
  width: 260px;
  height: 55px;
  border: 1px solid #C4C4C4;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
  box-sizing: border-box;
  padding-left: 20px;
}
.form-section3_span {
  display: flex;
  justify-content: space-around;
  margin-top: -10px;
  margin-bottom: 35px;
}

p.form-section3_p {
  text-align: center;
}

.section-hide {
  display: none;
  position: relative;
  right: -120%;
  top: -30%;
}

button.form_button-submit {
  width: 280px;
  height: 55px;
  background-color: #582D7F;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.steps-active {
  color: #582D7F;
  font-weight: 600;
}

.number-active {
  background-color: #582D7F;
  color: #fff;
}

.services {
  margin: 120px 0px 30px 0px;
}
.services_our-services {
  font-weight: 400;
  font-size: 48px;
}
.services_top-section {
  margin-top: 55px;
}
.services_titleH4 {
  padding-left: 23px;
  font-weight: 500;
  font-size: 18px;
}
.services_leave-request {
  color: #582D7F;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: block;
  padding: 35px 0px 20px 23px;
}
.services_request-container {
  height: 100px;
}
.services_leave-request:hover {
  font-size: 20px;
}

.shadow {
  box-shadow: 1px 2px 7px 1px #b2afaf;
  border-radius: 10px;
  background-color: #fff;
}

.shadow p {
  padding: 30px 0px 20px 0px;
}

ul.services_ul {
  padding-left: 23px;
}

ul.services_ul li {
  list-style-type: disclosure-closed;
  list-style-position: inside;
  font-weight: 300;
  font-size: 14px;
  padding-top: 5px;
}

.aditional-services_section {
  margin: 70px 0px;
  width: 100%;
}
.aditional-services_title {
  font-weight: 400;
  font-size: 48px;
}
.aditional-services_section-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aditional-services_section-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.aditional-services_subsection {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.aditional-services_subsection img {
  margin-right: 20px;
}

.our-company {
  height: 827px;
  background-color: #fff;
  border-radius: 30px 0px;
}
.our-company_image {
  background: url(./img/countries.png);
  background-repeat: no-repeat;
  background-position: 85% 100px;
}
.our-company_right {
  padding-top: 180px;
}
.our-company_left {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 5px;
}
.our-company_left h2 {
  font-weight: 400;
  font-size: 48px;
  margin: 0px 0px 90px;
}
.our-company_right span {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 18;
}
.our-company_right img {
  border-radius: 15px;
}
.our-company_experience {
  box-sizing: border-box;
  width: 489px;
  height: 168px;
  border: 1px dashed #582D7F;
  border-radius: 10px;
}

.advantage-section_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.advantage-section_section {
  display: flex;
  flex-direction: column;
}
.advantage-section_image {
  display: flex;
}
.advantage-section_description {
  margin-left: 30px;
}
.advantage-section_description h4 {
  font-weight: 500;
  font-size: 18px;
}
.advantage-section_description p {
  font-weight: 300;
  font-size: 14px;
}

.advantage-section h2 {
  margin: 120px 77px 70px 77px;
  font-weight: 400;
  font-size: 48px;
}

.order-translation {
  margin: 110px 0px;
}
.order-translation_section {
  width: 1286px;
  height: 616px;
  border-radius: 10px;
  background: url(./img/order-translation.png);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.order-translation_title {
  color: #fff;
  padding-left: 43px;
  font-weight: 400;
  font-size: 48px;
  margin: 0px;
}
.order-translation_steps {
  height: 150px;
  padding: 0px 220px 0px 43px;
}
.order-translation_numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-translation_span {
  height: 1px;
  width: 160px;
  background-color: #fff;
}
.order-translation_border1 {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  display: none;
}
.order-translation_border {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.order-translation_border-content {
  position: relative;
}
.order-translation_border-content span {
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.order-translation_description {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
}
.order-translation_description span {
  color: #fff;
  font-weight: 600;
  font-size: 19px;
}
.order-translation_description1 {
  text-align: right;
}
.order-translation_button-section {
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
}
.order-translation_button {
  width: 1190px;
  height: 53px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  padding: 0px;
  margin: auto;
  transition: all 0.3s ease 0s;
}
.order-translation_button:hover {
  width: 1200px;
  height: 60px;
  font-size: 20px;
}

span.order-translation-number-active {
  color: #582D7F;
}

.border1-active {
  display: block;
  background-color: #fff;
}

.slider {
  height: 500px;
  display: block;
  margin-bottom: 300px;
}
.slider_title h2 {
  font-weight: 400;
  font-size: 48px;
}
.slider_section {
  display: flex;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0px 115px 0px;
}
.slider_image {
  display: flex;
  justify-content: center;
  width: 1120px;
  overflow: hidden;
}
.slider_image img {
  padding-left: 20px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  transform: translateX(0px);
}

button.slider_button1 {
  position: absolute;
  left: 0px;
  top: 44%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

button.slider_button2 {
  position: absolute;
  right: 0px;
  top: 44%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.tarifs {
  height: 1020px;
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 110px;
}
.tarifs_section {
  display: flex;
  padding-top: 100px;
  position: relative;
}
.tarifs_section-all img {
  position: absolute;
  top: 40px;
  right: 0;
}
.tarifs_section-all h2 {
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 50px;
}
.tarifs_table-section-table {
  width: 1286px;
  height: 475px;
}

table, td {
  border: 1px solid #E1E1E1;
  border-collapse: collapse;
  height: 60px;
  text-align: left;
  border-radius: 20px;
}

th {
  height: 70px;
  text-align: center;
  font-weight: 400;
}

th.th1 {
  text-align: left;
  padding-left: 50px;
}

td.td1 {
  text-align: left;
  padding-left: 50px;
  font-weight: 300;
}

td {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

th.th1 {
  background-color: #B8DDDE;
}

th.th2 {
  background-color: #F9EAB5;
}

th.th3 {
  background-color: #D7EFC7;
}

th.th4 {
  background-color: #D1D7FA;
}

table {
  width: 100%;
}

.tarifs-button {
  text-align: center;
}

button.tarifs-button {
  margin-top: 100px;
  width: 1286px;
  height: 50px;
  background-color: #582D7F;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.questions-answers_wallpaper {
  width: 1286px;
  background-color: #fff;
  padding-left: 70px;
  transition: all 0.3s ease 0s;
}
.questions-answers_wallpaper h2 {
  font-weight: 400;
  font-size: 48px;
  margin: 70px 0px;
}
.questions-answers_section span {
  height: 1px;
  width: 1160px;
  background-color: #E6E6E6;
  display: block;
}
.questions-answers_description {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  transition: all 0.5s ease 0s;
}
.questions-answers_image {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 20px 0px;
}
.questions-answers_description-detailed {
  margin: 20px 0px;
}
.questions-answers_description-detailed p {
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
}

button.question-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: block;
}

button.question-open:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

button.question-close {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  display: none;
}

button.question-close:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

p.question-answers_description-bottom1 {
  line-height: 30px;
  font-weight: 300;
  font-size: 18px;
  transition: all 0.3s ease 0s;
  transform: translate(0px, -10px);
}

p.description-disable {
  opacity: 0;
  max-height: 0;
}

p.description-active {
  transform: translate(0px, 15px);
  opacity: 1;
}

button.question-active {
  display: block;
}

.question-padding {
  margin-bottom: 60px;
}

.flags {
  height: 200px;
  margin: 50px 0px;
  justify-content: center;
}

.cost-calculation {
  justify-content: center;
  margin-bottom: 100px;
  background-color: #fff;
}
.cost-calculation_section {
  width: 1286px;
  height: 750px;
  box-sizing: border-box;
  padding: 0px 63px;
}
.cost-calculation_section h2 {
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.cost-calculation_language span {
  font-weight: 400;
  font-size: 20px;
}
.cost-calculation_select {
  display: flex;
  margin: 30px 0px;
  align-items: center;
}
.cost-calculation_language {
  padding: 20px 0px;
}
.cost-calculation_buttons {
  height: 80px;
  position: relative;
}

span.cost-calculation-line {
  height: 1px;
  background-color: #C4C4C4;
  width: 610px;
}

.calculation-description {
  justify-content: space-between;
  margin: 30px 0px;
}

.calculation-steps {
  margin: 0;
}

.cost {
  width: 37px;
}

select.cost-select {
  border: 1px #000 solid;
  border-radius: 0px;
}

.cost-arrow img {
  margin: 0px 20px;
}

.cost-calculation_description textarea {
  width: 100%;
  height: 150px;
  border-style: dashed;
  resize: none;
  padding: 15px;
  font-weight: 300;
  font-size: 20px;
  box-sizing: border-box;
}

button.cost-calculation_next {
  position: absolute;
  right: 0;
  top: 30px;
  height: 55px;
  width: 160px;
  border: none;
  background-color: #093B54;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

button.cost-calculation_next:hover {
  transform: scale(1.1);
}

.form-calculation1 {
  display: none;
}

.cost-active {
  display: block;
}

.cost-disable {
  display: none;
}

.footer-background {
  background-color: #fff;
}

.footer {
  align-items: start;
}

.column1 {
  display: flex;
  flex-direction: column;
}
.column1_logo {
  padding: 20px 0px;
}
.column1_logo-description {
  margin-bottom: 40px;
  font-weight: 400;
  color: #9E9E9E;
  font-size: 16px;
}
.column1_contact {
  font-weight: 600;
  font-size: 16;
  color: #582D7F;
  padding-bottom: 20px;
}
.column1_buttons {
  display: flex;
  flex-direction: column;
}
.column1_buttons button {
  margin: 10px;
  width: 260px;
  height: 54px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.column1_buttons button:hover {
  text-decoration: underline;
}
.column1_buttons button img {
  margin-right: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column h4 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.column ul li a {
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
}

.column ul li:hover {
  text-decoration: underline;
}

.column4_tel {
  margin: 20px 0px;
}
.column4_tel a {
  font-weight: 600;
  font-size: 18px;
  color: #582D7F;
}
.column4_tel a:hover {
  text-decoration: underline;
}
.column4_email {
  margin: 20px 0px;
}
.column4_email a {
  font-weight: 500;
  font-size: 18px;
  color: #686868;
}
.column4_email a:hover {
  text-decoration: underline;
}
.column4_adress strong {
  color: #582D7F;
  margin: 0px 10px 0px 0px;
}

.form-calculation2 {
  display: none;
}
.form-calculation2_input {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.form-calculation2_chose-file {
  border: 1px solid #000;
  border-style: dashed;
  border-radius: 10px;
  width: 560px;
  height: 219px;
  text-align: center;
}
.form-calculation2_chose-file p {
  font-weight: 400;
  font-size: 20px;
}
.form-calculation2_task textarea {
  width: 570px;
  height: 219px;
  resize: none;
}

button.cost-calculation_back {
  position: absolute;
  left: 0;
  top: 30px;
  height: 55px;
  width: 160px;
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  color: #093B54;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 1px solid #093B54;
  border-radius: 5px;
}

button.cost-calculation_back:hover {
  transform: scale(1.1);
}

button.cost-calculation_next1 {
  position: absolute;
  right: 0;
  top: 30px;
  height: 55px;
  width: 160px;
  border: none;
  background-color: #093B54;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

button.cost-calculation_next1:hover {
  transform: scale(1.1);
}

.form-calculation3_input {
  text-align: center;
  margin-top: 45px;
}
.form-calculation3_full-name input {
  width: 1140px;
  height: 55px;
  font-weight: 400;
  font-size: 18px;
  padding-left: 15px;
}
.form-calculation3_email-text input {
  width: 540px;
  height: 55px;
  margin-top: 20px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 18px;
}
.form-calculation3_email-text {
  display: flex;
  justify-content: space-between;
}

.modal1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.modal1_content {
  right: 0;
  left: 0;
  text-align: center;
  margin: auto;
  width: 460px;
  height: 440px;
  background-color: #fff;
  border-radius: 10px;
}
.modal1_title {
  padding-top: 50px;
  font-size: 30px;
  color: #582D7F;
  font-weight: 600;
}
.modal1_description {
  font-weight: 400;
  font-size: 20px;
  color: #545454;
}
.modal1_input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal1_input input {
  width: 360px;
  height: 55px;
  margin-top: 15px;
  padding: 10px;
  font-weight: 400;
  color: #979797;
  box-sizing: border-box;
}
.modal1_button {
  width: 360px;
  height: 55px;
  background-color: #582D7F;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
}

.modal1-image {
  position: fixed;
  right: 30%;
  top: 2%;
}

.modal1-image button {
  background-color: rgba(183, 183, 183, 0);
  cursor: pointer;
}

.modal1hide {
  display: none;
}

.modal1show {
  display: block;
}/*# sourceMappingURL=style1.css.map */